.window {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  overflow: scroll;
}
.window .publisher-form {
  width: max(17vw, 17em);
  top: 0;
  padding-top: max(1vw, 1em);
}
.window .publisher-form label, .window .publisher-form p {
  font-size: max(1vw, 1em);
}
.window .publisher-form select, .window .publisher-form code {
  font-size: max(0.8vw, 0.8em);
}
.window .publisher-form input[type=text] {
  border: solid max(0.1vw, 0.1em) #000;
  font-size: max(0.8vw, 0.8em);
  padding: max(0.2vw, 0.2em) max(0.5vw, 0.5em);
}
.window .publisher-form .first {
  display: flex;
  flex-direction: column;
}
.window .publisher-form .license {
  display: flex;
  margin-top: max(1vw, 1em);
  justify-content: space-between;
}
.window .publisher-form .license .file span {
  display: block;
}
.window .publisher-form .license .file .file_uplode {
  border-radius: max(0.5vw, 0.5em);
  transition: 0.3s;
  cursor: pointer;
  border: max(0.1vw, 0.1em) solid;
  display: inline-block;
  background: #1c2869;
  color: #FFF;
  padding: max(0.2vw, 0.2em) max(0.5vw, 0.5em);
}
.window .publisher-form .license .file .file_uplode:hover {
  background: #FFF;
  border: max(0.1vw, 0.1em) dashed;
  color: #1c2869;
}
.window .publisher-form .license .select {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.window .publisher-form .license .select select {
  display: block;
}
.window .publisher-form .publisher_image {
  margin-top: max(1vw, 1em);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.window .publisher-form .publisher_image .img {
  transition: 0.3s;
  width: max(5vw, 5em);
  border-radius: max(1vw, 1em);
  height: max(5vw, 5em);
  background: rgb(144, 144, 144);
  padding: max(0.1vw, 0.1em);
  border: #1c2869 max(0.1vw, 0.1em) dashed;
}
.window .publisher-form .publisher_image .img img {
  transition: 0.3s;
  border-radius: max(1vw, 1em);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-animation: fromNon 0.3s 1;
          animation: fromNon 0.3s 1;
}
.window .publisher-form .publisher_image .file_uplode {
  background: #1c2869;
  outline: none;
  border: none;
  color: #FFF;
  border: max(0.1vw, 0.1em) solid;
  padding: 0 max(0.5vw, 0.5em);
  font-size: max(1vw, 1em);
  border-radius: max(0.5vw, 0.5em);
  transition: 0.3s;
  cursor: pointer;
}
.window .publisher-form .publisher_image .file_uplode:hover {
  background: #FFF;
  border: max(0.1vw, 0.1em) dashed;
  color: #1c2869;
}
.window .publisher-form .my_select {
  display: flex;
  flex-direction: column;
  position: relative;
}
.window .publisher-form .my_select .attrrs {
  display: flex;
  row-gap: max(0.2vw, 0.2em);
  -moz-column-gap: max(0.5vw, 0.5em);
       column-gap: max(0.5vw, 0.5em);
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: max(0.4vw, 0.4em);
}
.window .publisher-form .my_select .attrrs .attrr {
  display: flex;
  align-items: center;
  background: #778bff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 max(0.3vw, 0.3em);
  gap: max(0.3vw, 0.3em);
  border-radius: max(5vw, 5em);
}
.window .publisher-form .my_select .attrrs .attrr p {
  font-size: max(0.7vw, 0.7em);
  font-weight: 600;
  color: #FFF;
}
.window .publisher-form .my_select .attrrs .attrr i {
  cursor: pointer;
  transition: 0.3s;
  background: #FFF;
  width: max(0.8vw, 0.8em);
  text-align: center;
  height: max(0.8vw, 0.8em);
  padding: max(0.2vw, 0.2em);
  border-radius: 50%;
  font-size: max(0.4vw, 0.4em);
  font-weight: 100;
}
.window .publisher-form .my_select .attrrs .attrr i:hover {
  background: #F00;
  color: #FFF;
}
.window .publisher-form .my_select .options {
  width: 100%;
  text-align: center;
  border: #000 solid max(0.1vw, 0.1em);
  overflow-y: scroll;
  max-height: max(10vw, 10em);
  position: absolute;
  bottom: 0;
  translate: 0 100%;
  z-index: 10;
  display: none;
  background: #FFF;
}
.window .publisher-form .my_select .options p {
  font-size: max(1vw, 1em);
  cursor: pointer;
}
.window .publisher-form .my_select .options p:hover {
  background: #EEE;
}
.window .publisher-form .inputButtons {
  display: flex;
  justify-content: center;
  margin-top: max(1vw, 1em);
  gap: max(1vw, 1em);
}
.window .publisher-form .inputButtons button, .window .publisher-form .inputButtons input[type=submit] {
  background: #1c2869;
  outline: none;
  border: none;
  color: #FFF;
  border: max(0.1vw, 0.1em) solid;
  padding: 0 max(0.5vw, 0.5em);
  font-size: max(1vw, 1em);
  border-radius: max(0.5vw, 0.5em);
  transition: 0.3s;
  cursor: pointer;
}
.window .publisher-form .inputButtons button:hover, .window .publisher-form .inputButtons input[type=submit]:hover {
  background: #FFF;
  border: max(0.1vw, 0.1em) dashed;
  color: #1c2869;
}
.window .publisher-form .social {
  margin-top: max(1vw, 1em);
  text-align: center;
}
.window .publisher-form .social button {
  background: #1c2869;
  outline: none;
  border: none;
  color: #FFF;
  border: max(0.1vw, 0.1em) solid;
  padding: 0 max(0.5vw, 0.5em);
  font-size: max(1vw, 1em);
  border-radius: max(0.5vw, 0.5em);
  transition: 0.3s;
  cursor: pointer;
}
.window .publisher-form .social button:hover {
  background: #FFF;
  border: max(0.1vw, 0.1em) dashed;
  color: #1c2869;
}
@media (max-width: 650px) {
  .window {
    padding-top: max(3vw, 3em);
    padding-bottom: max(3vw, 3em);
    width: 100%;
  }
}

@-webkit-keyframes hide {
  from {
    opacity: 1;
    translate: 0 0;
  }
  to {
    translate: -50% 0;
    opacity: 0;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    translate: 0 0;
  }
  to {
    translate: -50% 0;
    opacity: 0;
  }
}
@-webkit-keyframes show {
  from {
    translate: 50% 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes show {
  from {
    translate: 50% 0;
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@-webkit-keyframes fromNon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fromNon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */